@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 100;
    src: local('Arial');
    ascent-override: 94.86%;
    descent-override: 23.62%;
    line-gap-override: 0%;
    size-adjust: 102.12%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 200;
    src: local('Arial');
    ascent-override: 93.11%;
    descent-override: 23.18%;
    line-gap-override: 0%;
    size-adjust: 104.04%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 300;
    src: local('Arial');
    ascent-override: 91.42%;
    descent-override: 22.76%;
    line-gap-override: 0%;
    size-adjust: 105.97%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 89.79%;
    descent-override: 22.36%;
    line-gap-override: 0%;
    size-adjust: 107.89%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 500;
    src: local('Arial');
    ascent-override: 88.83%;
    descent-override: 22.12%;
    line-gap-override: 0%;
    size-adjust: 109.05%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 95.11%;
    descent-override: 23.68%;
    line-gap-override: 0%;
    size-adjust: 101.86%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 700;
    src: local('Arial Bold');
    ascent-override: 94.12%;
    descent-override: 23.43%;
    line-gap-override: 0%;
    size-adjust: 102.93%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 800;
    src: local('Arial Bold');
    ascent-override: 92.93%;
    descent-override: 23.14%;
    line-gap-override: 0%;
    size-adjust: 104.24%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 900;
    src: local('Arial Bold');
    ascent-override: 91.67%;
    descent-override: 22.83%;
    line-gap-override: 0%;
    size-adjust: 105.67%;
}
