@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f0f9ff;
        --foreground: #18181b;

        --primary: #0284c7;
        --primary-foreground: #f0f9ff;
        --primary-hover: #0369a1;

        --secondary: #71717a;
        --secondary-foreground: #f0f9ff;
        --secondary-hover: #52525a;

        --success: #10b981;
        --success-foreground: #f0f9ff;
        --success-hover: #059669;

        --warning: #eab308;
        --warning-foreground: #f0f9ff;
        --warning-hover: #ca8a04;

        --destructive: #ef4444;
        --destructive-foreground: #f0f9ff;
        --destructive-hover: #dc2626;

        --input: #fff;
        --input-focus: #0284c7;
        --input-placeholder: #71717a;
        --input-invalid: #ef4444;

        --border: #d4d4d8;
        --border-strong: #a1a1aa;
        --card: #ffffff;
    }

    [data-theme='dark'] {
        --background: #18181b;
        --foreground: #fafafa;

        --primary: #7dd3fc;
        --primary-foreground: #18181b;
        --primary-hover: #bae6fd;

        --secondary: #a1a1aa;
        --secondary-foreground: #18181b;
        --secondary-hover: #d4d4d8;

        --success: #34d399;
        --success-foreground: #18181b;
        --success-hover: #6ee7b7;

        --warning: #facc15;
        --warning-foreground: #18181b;
        --warning-hover: #fde047;

        --destructive: #f87171;
        --destructive-foreground: #18181b;
        --destructive-hover: #fca5a5;

        --input: #18181b;
        --input-focus: #7dd3fc;
        --input-placeholder: #a1a1aa;
        --input-invalid: #fca5a5;

        --border: #3f3f46;
        --border-strong: #52525b;
        --card: #27272a;
    }

    body {
        @apply bg-background font-Inter text-foreground antialiased;
    }
}
